#slider {
	OVERFLOW-X: hidden; OVERFLOW-Y: auto; LIST-STYLE-TYPE: none; WIDTH: 700px; HEIGHT: 390px; LIST-STYLE-IMAGE: none
}
.anythingSlider-default {
	PADDING-BOTTOM: 28px; MARGIN: 0px auto; PADDING-LEFT: 45px; PADDING-RIGHT: 45px; PADDING-TOP: 0px
}
.anythingSlider-default .anythingWindow {
	BORDER-BOTTOM: #777 3px solid; BORDER-TOP: #777 3px solid
}
.anythingSlider-default .anythingControls A {
	BACKGROUND: url(../images/default.png) #777 repeat-x center -288px; COLOR: #000; border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px
}
.anythingSlider-default .anythingControls A SPAN {
	VISIBILITY: visible
}
.anythingSlider-default .anythingControls A.cur {
	BACKGROUND: #888; COLOR: #000
}
.anythingSlider-default .anythingControls A.start-stop {
	BACKGROUND-COLOR: #040; COLOR: #ddd
}
.anythingSlider-default .anythingControls A.playing.start-stop {
	BACKGROUND-COLOR: #800
}
.anythingSlider-default .anythingControls A.start-stop:hover {
	BACKGROUND-IMAGE: none; COLOR: #ddd
}
.anythingSlider-default .anythingControls A.hover.start-stop {
	BACKGROUND-IMAGE: none; COLOR: #ddd
}
.anythingSlider-default .anythingControls A.start-stop .anythingControls UL A:hover {
	BACKGROUND-IMAGE: none; COLOR: #ddd
}
.activeSlider.anythingSlider-default .anythingWindow {
	BORDER-BOTTOM-COLOR: #7c9127; BORDER-TOP-COLOR: #7c9127; BORDER-RIGHT-COLOR: #7c9127; BORDER-LEFT-COLOR: #7c9127
}
.activeSlider.anythingSlider-default .anythingControls A {
	BACKGROUND-COLOR: #7c9127
}
.activeSlider.anythingSlider-default .anythingControls A.cur {
	BACKGROUND: #7c9127
}
.activeSlider.anythingSlider-default .anythingControls A:hover {
	BACKGROUND: #7c9127
}
.activeSlider.anythingSlider-default .anythingControls A.start-stop {
	BACKGROUND-COLOR: #080; COLOR: #fff
}
.activeSlider.anythingSlider-default .anythingControls A.playing.start-stop {
	BACKGROUND-COLOR: #d00; COLOR: #fff
}
.activeSlider.anythingSlider-default .start-stop:hover {
	COLOR: #fff
}
.activeSlider.anythingSlider-default .hover.start-stop {
	COLOR: #fff
}
.anythingSlider-default .arrow {
	POSITION: absolute; DISPLAY: block; TOP: 50%
}
.anythingSlider-default .arrow A {
	TEXT-ALIGN: center; MARGIN: -70px 0px 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px; WIDTH: 45px; DISPLAY: block; BACKGROUND: url(../images/default.png) no-repeat; HEIGHT: 140px
}
.anythingSlider-default .back {
	LEFT: 0px
}
.anythingSlider-default .back A {
	BACKGROUND-POSITION: left top
}
.anythingSlider-default .back A:hover {
	BACKGROUND-POSITION: left -140px
}
.anythingSlider-default .back A.hover {
	BACKGROUND-POSITION: left -140px
}
.anythingSlider-default .forward {
	RIGHT: 0px
}
.anythingSlider-default .forward A {
	BACKGROUND-POSITION: right top
}
.anythingSlider-default .forward A:hover {
	BACKGROUND-POSITION: right -140px
}
.anythingSlider-default .forward A.hover {
	BACKGROUND-POSITION: right -140px
}
.anythingSlider-default .anythingControls {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px; DISPLAY: none
}
.anythingSlider-default .anythingControls UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.anythingSlider-default .anythingControls UL LI {
	DISPLAY: inline
}
.anythingSlider-default .anythingControls UL A {
	TEXT-ALIGN: center; PADDING-BOTTOM: 2px; MARGIN: 0px 5px 0px 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 8px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 8px; DISPLAY: inline-block; FONT: 11px/18px Georgia, Serif; HEIGHT: 18px; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.anythingSlider-default .anythingControls .anythingNavWindow {
	FLOAT: left; OVERFLOW: hidden
}
.anythingSlider-default .anythingControls .start-stop {
	Z-INDEX: 100; TEXT-ALIGN: center; PADDING-BOTTOM: 2px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 5px; OUTLINE-WIDTH: 0px; WIDTH: 40px; PADDING-RIGHT: 5px; FLOAT: right; TEXT-DECORATION: none; PADDING-TOP: 2px
}
.as-oldie .anythingSlider-default .arrow {
	TOP: 30%
}
.as-oldie .anythingSlider-default .arrow A {
	MARGIN: 0px
}
.as-oldie .anythingSlider-default .anythingControls LI {
	MARGIN-LEFT: 3px
}
.as-oldie .anythingSlider-default .anythingControls A {
	MARGIN: 0px
}
.as-oldie .anythingSlider-default .anythingNavWindow {
	MARGIN: 0px 2px
}
.as-oldie .anythingSlider-default .anythingNavWindow LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 3px
}
.anythingSlider {
	POSITION: relative; DISPLAY: block; OVERFLOW: visible !important
}
.anythingSlider .anythingWindow {
	POSITION: relative; WIDTH: 100%; HEIGHT: 100%; OVERFLOW: hidden
}
.anythingSlider .anythingBase {
	POSITION: absolute; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; OVERFLOW: visible !important; TOP: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px; LEFT: 0px
}
.anythingSlider .arrow SPAN {
	DISPLAY: block; VISIBILITY: hidden
}
.anythingSlider .disabled.arrow {
	DISPLAY: none
}
.anythingSlider .panel {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; OVERFLOW: hidden; PADDING-TOP: 0px
}
.anythingSlider .vertical .panel {
	FLOAT: none
}
.anythingSlider .fade .panel {
	Z-INDEX: 0; POSITION: absolute; FLOAT: none; TOP: 0px; LEFT: 0px
}
.anythingSlider .fade .activePage {
	Z-INDEX: 1
}
.rtl.anythingSlider .anythingWindow {
	unicode-bidi: bidi-override; DIRECTION: ltr
}
.rtl.anythingSlider .anythingControls UL {
	FLOAT: left
}
.rtl.anythingSlider .anythingControls UL A {
	FLOAT: right
}
.rtl.anythingSlider .start-stop {
	
}
.anythingSlider {
	transition-duration: 0; -o-transition-duration: 0; -moz-transition-duration: 0; -webkit-transition-duration: 0
}
.anythingSlider .anythingWindow {
	transition-duration: 0; -o-transition-duration: 0; -moz-transition-duration: 0; -webkit-transition-duration: 0
}
.anythingSlider .anythingControls UL A {
	transition-duration: 0; -o-transition-duration: 0; -moz-transition-duration: 0; -webkit-transition-duration: 0
}
.anythingSlider .arrow A {
	transition-duration: 0; -o-transition-duration: 0; -moz-transition-duration: 0; -webkit-transition-duration: 0
}
.anythingSlider .start-stop {
	transition-duration: 0; -o-transition-duration: 0; -moz-transition-duration: 0; -webkit-transition-duration: 0
}
